<div class="container-fluid">
               
                
    <div class="row">
        <div class="col-md-2 testsidebar">
            <h4>Tests</h4>
            <button class="btn btn-success w-100 mb-1" (click)="showHideTest()">
                <i class="fas fa-plus"></i> Add New Test
            </button>
            <div class="list-group" id="testList">
                <!-- Dynamically added test items -->
                 @for (item of testList; track $index) {
                    <a (click)="setActiveTest(item.testId)" [ngClass]="activeTest == item.testId ? 'active' : '' " class="list-group-item list-group-item-action " data-id="1738477545287">{{item.testName}}</a>
                 }
                 
            </div>
        </div>
        <div class="col-md-10 p-4 sideContent">
            @if (isNewTest == true) {
                <div class="form-container" id="testFormContainer">
                <h4>Create / Edit Test</h4>
                <form id="testForm">
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-1">
                                <label for="testName" class="form-label">Test Name</label>
                                <input type="text" name="testName" [(ngModel)]="testObj.testName" class="form-control" id="testName" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-1">
                                <label for="testDate" class="form-label">Test Date</label>
                                <input type="date" name="testDate" [(ngModel)]="testObj.testDate" class="form-control" id="testDate" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-1">
                                <label for="testName" class="form-label"> Site</label>
                                <select name="siteId" [(ngModel)]="testObj.siteId"  class="form-select">
                           @for (item of siteList$ | async ; track $index) {
                            <option [value]="item.siteId">{{item.siteName}}</option>
                           }
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-1">
                                <label for="testName" class="form-label"> Engineer</label>
                                <select name="engineerId" [(ngModel)]="testObj.engineerId" class="form-select">
                                    @for (item of userList$ | async; track $index) {
                                        <option [value]="item.userId">{{item.userName}}</option>
                                    }
                                   
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-1">
                                <label for="testName" class="form-label"> Test Type</label>
                                <select name="testTypeId" [(ngModel)]="testObj.testTypeId" class="form-select">
                                    @for (item of testTypesList$ | async; track $index) {
                                    <option value=""> {{item.testName}} </option>
                                    }
                                    
                                </select>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-6">
                                <label for="testName" class="form-label"> Remarks </label>
                                <textarea placeholder="Remarks" class="form-control" name="remarks" [(ngModel)]="testObj.remarks"></textarea>
                            </div>
                        </div>
                    </div>
                   
                    
                   
                    <button type="submit" (click)="onSaveTest()" class="btn btn-primary">Save Test</button>
                </form>
            </div>
            }
            <div class="form-container mt-4" id="measurementFormContainer">
                <h4>Measurements for Selected Test</h4>
                <form id="siteForm">
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="form-label">Excavated Hole Volume (m³):</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-cube"></i></span>
                                <input type="number" [(ngModel)]="measurementObj" name="excavatedHoleVolume" class="form-control" id="excavatedHoleVolume" value="0.01"
                                    placeholder="Enter volume">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Wet Soil Weight (kg):</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-weight"></i></span>
                                <input type="number" [(ngModel)]="measurementObj" name="excavatedHoleVolume" class="form-control" id="wetSoilWeight" value="0.01"
                                    placeholder="Enter weight">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Moisture Content (%):</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-tint"></i></span>
                                <input type="number" [(ngModel)]="measurementObj" name="excavatedHoleVolume" class="form-control" id="moistureContent" value="100"
                                    placeholder="Enter content percentage">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">

                        <div class="col-md-4">
                            <label class="form-label">Dry Soil Weight (kg):</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-weight-hanging"></i></span>
                                <input type="number" [(ngModel)]="measurementObj.excavatedHoleVolume" name="excavatedHoleVolume" class="form-control" id="drySoilWeight" value="0.01"
                                    placeholder="Enter weight">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Sand Volume Used (m³):</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-cubes"></i></span>
                                <input type="number" [(ngModel)]="measurementObj.sandVolumeUsed" name="excavatedHoleVolume" class="form-control" id="sandVolumeUsed" value="0"
                                    placeholder="Enter volume">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Dry Density (kg/m³):</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-weight-hanging"></i></span>
                                <input type="number" [(ngModel)]="measurementObj.dryDensity" name="excavatedHoleVolume" class="form-control" id="dryDensity" value="0.01"
                                    placeholder="Enter density">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-6">
                            <label class="form-label">Soil Classification:</label>
                            <input type="text" [(ngModel)]="measurementObj.soilClassification" name="excavatedHoleVolume" class="form-control" id="soilClassification" value="string"
                                placeholder="Enter classification">
                        </div>
                    </div>
                    <button type="submit" (click)="addNewMeasurement()" class="btn btn-primary btn-icon ">
                        <span><i class="fas fa-plus"></i> Add </span>
                    </button>
                    <button type="submit" class="btn btn-warning  btn-icon ">
                        <span><i class="fas fa-edit"></i> Update</span>
                    </button>
                </form>
                <div class="mt-3">
                    <h5>Measurements List</h5>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Sr No</th>
                            <th>Hole Volume</th>
                            <th>Wet Soil Weight</th>
                            <th>Moisture Content</th>
                            <th>Dry Soil Weight</th>
                            <th>Sand Volume Used</th>
                            <th>Dry Density</th>
                            <th>Soil Classification</th>
                          </tr>
                        </thead>
                        <tbody>
                            @for (item of measuremntList; track $index) {
                                <tr>
                                <td>{{ $index + 1 }}</td>
                                <td>{{ item.excavatedHoleVolume }}</td>
                                <td>{{ item.wetSoilWeight }}</td>
                                <td>{{ item.moistureContent }}</td>
                                <td>{{ item.drySoilWeight }}</td>
                                <td>{{ item.sandVolumeUsed }}</td>
                                <td>{{ item.dryDensity }}</td>
                                <td>{{ item.soilClassification }}</td>
                            </tr>
                              }
                              
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
